<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css" rel="stylesheet">
        <script defer src="/static/js/utils.js"></script>
        <script></script>
        <style>

            details summary {
                cursor: pointer;
            }

            details summary.is-size-5::marker {
                display: none;
                content: none;
            }

            details summary.is-size-5::before {
                display: none;
                content: none;
            }
            .on-hand {
                text-align: right;
                margin-right: 1.5rem;
            }

            .navbar-brand {
                padding: 0 2rem;
            }

            .listsColumn,
            aside.menu {
                padding: calc(var(--docs-inner) *.5);
            }

            div#lists {
                --docs-outer: 3rem;
                --docs-inner: 3rem;
                display: grid;
                grid-template-columns: 11.25rem 1fr;
            }
            .listsColumn > div {
                margin-bottom: calc(var(--docs-inner) * 1);
            }
            .allColumn>ol>li {
                padding-bottom: 0.2rem;
            }
            .sidebar {
                width: 11.25rem;
                z-index: 40;
            }
            .sticky-sidebar {
                --height: 1.25;
                max-height: 100vh;
                overflow-y: auto;
                padding: var(--docs-side-padding);
                position: sticky;
                top: 0;
            }

            p.menu-label {
                padding-top: calc(var(--docs-inner) *.1);
            }
            main {
                padding: 2rem;
            }
            h2.has-text-grey.is-size-4.subhead {
                margin-top: 0;
                padding-top: 0;
                margin-bottom: 3rem;
            }
            ol {
                padding: 1rem;
            }
            .added,
            .dropped {
                padding: 1rem;
            }
            header * {
                margin: 1rem 0;
            }
            .is-green {
                color: #6e9244;
                background-color: #8cc34a52;
                padding: 0 0.2rem;
            }
            .is-red {
                color: #b74f5a;
                background-color: #b74f5a40;
                padding: 0 0.2rem;
            }

            .is-blue {
                color: #03a9f4;
                background-color: #ffeb3b70;
                padding: 0 0.2rem;
            }

            .listItemDetails {
                display: flex;
                flex-direction: column;
            }
            @media (min-width: 576px) {
                .listItemDetails {
                    flex-direction: row;
                }
            }
            .otherListItemEntry {
                display: inline-block;
            }
            .otherDetails {
                padding: 0 2rem;
            }
            .barCode,
            .coverImage {
                text-align: center;
            }
            @media (min-width: 576px) {
                .barCode,
                .coverImage {
                    text-align: left;
                }
            }
            .otherListItems {
                max-width: 22rem;
            }
            .bookWithBarcode {
                min-height: 10rem;
                padding: 2rem 1rem;
            }
            .titleCollapse {
                min-height: 2rem;
            }
            .barcode {
                text-align: center;
            }
            .printBlock {
                display: none;
            }

            @media print {
                .printBlock {
                    display: block;
                }
                div#lists {
                    display: block;
                }
                .changedColumns {
                    min-width:100% padding: 0;
                }
                .changedColumns * {

                    margin: 0;
                    padding: 0;
                }
                .bookWithBarcode {
                    min-height: auto;
                    padding: 0.25rem 0;
                }
                .barcode {
                    text-align: left;
                }
                .print-right {
                    text-align: right;
                }
                .sidebar,
                .toplink,
                header {
                    display: none;
                }
                .titleCollapse {
                    min-height: 0;
                    max-height: 1.5rem;
                }
                {# main {
                    padding: 0;
                    margin: 0;
                }
                @page {
                    margin: 0;
                }
                body {
                    margin: 3cm; #}
                }
                .added,
                .dropped {
                    width: 50%;
                }
            }
        </style>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>