<script>
document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
            $notification
                .parentNode
                .removeChild($notification);
        });
    });
});
</script>
{# <div class="notification is-info">
  <button class="delete"></button>
  <p>🚨 <strong>Updates to this app (6/19)</strong>: Revised layout; Added "Zero Stock Items" list: books on PNBA lists where QOH = 0.</p>
</div> #}